{% load static %}
{% if user.is_authenticated %}
    <form class="user" action="/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <p>
                Welcome to Norm's Form, {{ user.first_name }}
            </p>
            {% if user_is_in_admins %}
                <p>
                    Submit a new <a href="./">form</a>
                </p>
                <p>
                    View submitted <a href="./view_norm_forms">forms</a>
                </p>
                <p>
                    Add a <a href="./admin/form/facility/add/">facility</a>
                </p>
                <p>
                    Add a <a href="./admin/form/patient/add/">patient</a>
                </p>
                <p>
                    You have access to edit other <a href="./admin">data</a>
                </p>
            {% endif %}
        </div>
    </form>
{% endif %}