{% load static %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">The Form for Norm</h6>
    </div>
    {% if user.is_authenticated and user_is_in_admins %}
        <div class="card-body">
            <form action="/submit_form" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    {% endif %}
</div>