{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">The Form for Norm</h6>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user.is_authenticated and user_is_in_admins %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Patient</th>
                            <th>Facility</th>
                            <th>Date</th>
                            <th>PDF</th>
                            <th>New Form Link</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Patient</th>
                            <th>Facility</th>
                            <th>Date</th>
                            <th>PDF</th>
                            <th>New Form Link</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% if norm_forms %}
                            {% for norm_form in norm_forms %}
                                <tr>
                                    <td>{{ norm_form.patient }}</td>
                                    <td>{{ norm_form.facility }}</td>
                                    <td>{{ norm_form.date }}</td>
                                    <td><a href="/get_pdf/{{ norm_form.id }}" target="_blank">{{ norm_form.filename }}</a></td>
                                    <td><a href="/{{ norm_form.id }}">View / Submit Another</a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>